@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#card {
    word-wrap: break-word;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    animation: fadeIn 1.5s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

body {
    color: white;
    background: linear-gradient(135deg, #c0bdbc, #4e4376);
    text-align: center;
    min-height: 100vh;
}


h1 {
    font-family: 'Amiri', serif;
}

.dua-button {
    background: linear-gradient(135deg, #3b3b3b, #c0bdbc);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.dua-button:hover {
    background: linear-gradient(135deg, #c0bdbc, #3b3b3b);
    transform: scale(1.1);
}
